@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

<div class="user-status">
    <AuthorizeView>
        <Authorized>
            <span style="margin-right: 15px;">Hello, @context.User.Identity?.Name!</span>
            <form action="/Account/Logout" method="post" style="display:inline;">
                <AntiforgeryToken />
                <button type="submit" class="btn-primary">Logout</button>
            </form>
        </Authorized>
        <NotAuthorized>
            <a href="/login" class="btn-pill btn-ghost-pill">Sign in</a>
            <a href="/register" class="btn-primary">Get started</a>
        </NotAuthorized>
    </AuthorizeView>
</div>